body{
    margin: 0;
    padding: 0;
}
#jumbotron{
    /* position: relative; */
    width: 100%;
    /* height: 100vh; */
    /* background: url(bg.jpg); */
    background-size: cover;
    background-attachment: fixed;
}
#jumbotron .wave{
    position: relative;
    width: 100%;
    height: 150px;
    bottom: -65px;
    left: 0;
    background: url(wave.png);
    background-size: cover;
    animation: animate 10s linear infinite;
}
/* #jumbotron .wave::before{
content: '';
width: 100%;
height: 143px;
background: url(wave.png);
position: absolute;
top: 0;
left: 0;
opacity: 0.4;
animation: animate-reserve 10s linear infinite;
}
#jumbotron .wave::after{
content: '';
width: 100%;
height: 130px;
bottom: -20px;
background: url(wave.png);
position: absolute;
top: 0;
left: 0;
opacity: 0.6;
animation-delay: -5s;
animation: animate 20s linear infinite;
} */
@keyframes animate {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 1365px;
    }
}
@keyframes animate-reserve {
    0%{
        background-position: 1360px;
    }
    100%{
        background-position: 0;
    }
}